.cell {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 30px;
	padding: 5px;
	height: 60px;
	width: 60px;
}

button[blockType="odd"]{
    background-color: lightblue;
}

button[blockType="even"]{
    background-color: lightskyblue;
}