.game-option-bar-container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 94%;
    margin-top: 10px;
    gap: 30px;
}

.game-option-bar-button-container{
    display: flex;
    gap: 15px;
}