.cell-space{
    height: 10%;

    border: 1px solid white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;

    aspect-ratio: 1/1;
}