.toolbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 95%;
    width: 25%;

    padding: 25px;

    border-radius: 15px;
    border: 1px solid transparent;

    background-image: linear-gradient(45deg, rgb(0, 0, 66), rgb(0, 0, 66)),
		linear-gradient(135deg, magenta, rgb(161, 2, 161));
	background-origin: border-box;
	background-clip: padding-box, border-box;
	
    box-shadow:
    0 0 2px rgb(180, 2, 180),
    0 0 4px rgb(180, 2, 180),
    0 0 8px rgb(180, 2, 180),
    0 0 16px rgb(180, 2, 180),
    0 0 32px rgb(180, 2, 180),
    0 0 40px rgba(180, 2, 180, 0.5);
}

.toolbar-options-of-game{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}