.toolbar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95%;
    width: 25%;
    padding: 25px;
    border-radius: 15px;
    background-color: aqua;
}

.toolbar-options-of-game{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}