.game-container{
    height: 95%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(141, 254, 254);
    border-radius: 15px;
}

.sudoku{
    height: calc(100% - 40px);
    margin: 20px;
    margin-top: 0; 
}