.game-container {
	height: 80%;

    border: 1px solid white;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4%;

    aspect-ratio: 1/1;
}
