.game-container {
    box-sizing: border-box;
	height: 610px;
	width: 610px;

	display: flex;
    align-items: center;
    justify-content: center;
	flex-wrap: wrap;
	gap: 3px;

	background-color: rgb(141, 254, 254);

	border-radius: 15px;
}
